// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
	background-color: #fff;
	padding: .7rem 1.5rem;
	border-radius: 2rem;
	font-variant: all-small-caps;
	transition: all .2s linear;

	&--hollow {
		border: 2px solid $brand-color;

		&:hover {
			background-color: $brand-color;
			color: white;
		}
	}

	&--branded {
		background-color: $brand-color;
		color: white;

		&:hover {
			background-color: darken($brand-color, 8%);
			color: white;
		}
	}

	&--cta {
		@extend .button--branded;
		padding: 1rem 2rem;
	}
}