<!DOCTYPE html>
<html lang="{{ site.lang }}" prefix="og: http://ogp.me/ns#">
<head>
	{% include head.html %}
</head>
<body>
	{% include navigation.html %}

	{{ content }}

	{% include footer.html %}
	
	<script>
		$(document).on('turbolinks:load', function() {
			if ($("#menu").hasClass('menu--active')) {
				$("#menu").removeClass('menu--active');
				$("body").removeClass('no-scroll');
			}

			$("#collapse-menu").off().on('click', function() {
				$("#menu").toggleClass('menu--active');
				$('body').toggleClass('no-scroll');
			})
		});
	</script>
</body>
</html>
