// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
	background-color: #2a2a2a;
	padding: 4rem 2rem;
	color: $light-grey;
}